<!DOCTYPE html>
<html>
	<head>

	</head>
	<body>
		<p><a href="https://www.youtube.com/watch?v=TP-qVNg9bzQ">Polishing idol...</a></p>
		<img src="https://media1.tenor.com/m/cggtlNwgwyUAAAAC/pacemaker-hype.gif"/>
		<img src="https://media.tenor.com/d4vShBXkspYAAAAi/panda-hype.gif"/>
		<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/25FelO0DE7g?si=TTseOWRC8vcotP4Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		<img src="https://media1.tenor.com/m/YMZe-Iz-QgkAAAAd/vi-arcane-vi.gif"/>
		<img src="https://media.tenor.com/d4vShBXkspYAAAAi/panda-hype.gif"/>
		<img src="https://media1.tenor.com/m/JYbtda1d1qoAAAAC/toad-hype-overload.gif"/>
		<img src="https://media.tenor.com/d4vShBXkspYAAAAi/panda-hype.gif"/>
		<p><a href="https://www.youtube.com/watch?v=0VKgeHFI8UY">The galaxy is at peace.</a></p>
		<img src="https://media1.tenor.com/m/JyMuDw4Sty0AAAAC/hype-anime-hype.gif"/>
		<img src="https://media.tenor.com/d4vShBXkspYAAAAi/panda-hype.gif"/>
		<img src="https://media1.tenor.com/m/UG98-ziMwssAAAAC/splatoon-woomy.gif"/>
		<img src="https://media.tenor.com/d4vShBXkspYAAAAi/panda-hype.gif"/>
		<p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">WOOMY!</a></p>
		<img src="https://media1.tenor.com/m/-ssZd2_6H6IAAAAC/addiction-factorio.gif"/>
		<img src="https://media.tenor.com/d4vShBXkspYAAAAi/panda-hype.gif"/>
		<img src="https://media1.tenor.com/m/RV6i11aoNMYAAAAd/illaoi-1v5.gif"/>
		<img src="https://media.tenor.com/d4vShBXkspYAAAAi/panda-hype.gif"/>
		<img src="https://media1.tenor.com/m/8Ul0N8e38V8AAAAC/shyvana-league.gif"/>
		<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/0nlJuwO0GDs?si=s1x2C8TxsjjSCjTo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		<img src="https://media.tenor.com/d4vShBXkspYAAAAi/panda-hype.gif"/>
		<img src="https://media1.tenor.com/m/MHmyQGS1FNAAAAAC/renault-dance.gif"/>
		<img src="https://media.tenor.com/d4vShBXkspYAAAAi/panda-hype.gif"/>
		<img src="https://media1.tenor.com/m/7cMh4vC8zJUAAAAC/splatoon-splatoon2.gif"/>
		<img src="https://media.tenor.com/d4vShBXkspYAAAAi/panda-hype.gif"/>
		<img src="https://media1.tenor.com/m/iHZsdNOGXkgAAAAC/mew-two-pokemon.gif"/>
		<img src="https://media.tenor.com/d4vShBXkspYAAAAi/panda-hype.gif"/>
		<img src="https://media1.tenor.com/m/RIMNAcsXMuoAAAAd/bottle-flip-back-flip.gif"/>
		<p><a href="https://www.youtube.com/watch?v=0zAJpnrHImk">I see now that the circumstances of one's birth is irrelevent, it is what you do with the gift of life that determines who you are.</a></p>
		<img src="https://media.tenor.com/d4vShBXkspYAAAAi/panda-hype.gif"/>
		<img src="https://media1.tenor.com/m/Z4l4JL9rusgAAAAC/league-of-legends-briar.gif"/>
		<img src="https://media.tenor.com/d4vShBXkspYAAAAi/panda-hype.gif"/>
		<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/0zAJpnrHImk?si=SZ4YuNsJ8cBnf_Ho" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		<img src="https://media1.tenor.com/m/ow42W99p1UcAAAAC/metroid-nintendo.gif"/>
		<img src="https://media.tenor.com/d4vShBXkspYAAAAi/panda-hype.gif"/>
	</body>
</html>