<!DOCTYPE html>
<html>
	<head>

	</head>
	<body>
		<img src="https://media1.tenor.com/m/FZfcPyYj1r4AAAAC/peach-goma-goma-peach.gif"/>
		<iframe width="1809" height="1026" src="https://www.youtube.com/embed/2x_pqyrf9lA" title="OoT Triforce Percent ACE Showcase: TASBot brings us Here Together at SGDQ 2022! (Beta + new content)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		<img src="https://media1.tenor.com/m/7Sy3BKSZ6u8AAAAC/peach-goma.gif"/>
		<h1><a href="https://www.youtube.com/watch?v=jgR8yriJt7k">Nuuu nuuuuuuuu nuuuuuuuuuuuuuu nu nu nu nu nu nu nu nuuuuu</a></h1>
		<img src="https://media1.tenor.com/m/AmtGg5GiqIAAAAAC/shaquille-o-neal-excited.gif"/>
		<iframe width="1809" height="1026" src="https://www.youtube.com/embed/M9uot8YFmZ8" title="ROAD TO SUB 35 - WORLD&#39;S FASTEST SORCERESS SPEEDRUN - 38:01 IGT | 40:10 RTA | DIABLO 2 RESURRECTED" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		<img src="https://media1.tenor.com/m/GmV4EAXLfRcAAAAC/miku-seseren.gif"/>
	</body>
</html>